<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/public/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/ajax.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1b1233" />

    <!-- Primary Meta Tags -->
    <title>Atheer | Arabic Stemmer</title>
    <meta name="title" content="Atheer | Arabic Stemmer" />
    <meta
      name="description"
      content="Atheer is an Arabic stemmer and lemmatizer"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://atheer.ml/" />
    <meta property="og:title" content="Atheer | Arabic Stemmer" />
    <meta
      property="og:description"
      content="Atheer is an Arabic stemmer and lemmatizer"
    />
    <meta property="og:image" content="https://l.top4top.io/p_23430wlw11.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://atheer.ml/" />
    <meta property="twitter:title" content="Atheer | Arabic Stemmer" />
    <meta
      property="twitter:description"
      content="Atheer is an Arabic stemmer and lemmatizer"
    />
    <meta
      property="twitter:image"
      content="https://l.top4top.io/p_23430wlw11.png"
    />
  </head>
  <body>
    <div class="wrapper">
      <img src="/atheer.png" alt="" />
      <div class="form_wrapper">
          <textarea
            type="text"
            name="q"
            id="text"
            placeholder="ضع نصـًّا للمعاينة ..."
          ></textarea
          >
          <div id="btn_wrap">
            <button id="stem" class="button">Stem</button>
            <button id="plus" class="button">Stem+</button>
            <button id="root" class="button">Root</button>
          </div>
      </div>
      <p id="output"></p>
      <a id="github" href="https://github.com/omarr45/Atheer" target="_blank">
        <img src="/github.png" alt="GitHub Link" title="GitHub Link ↗"
      /></a>
    </div>
    <!-- Auto-Resizing TextArea -->
    <script>
      const tx = document.getElementsByTagName('textarea');
      for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute(
          'style',
          'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
        );
        tx[i].addEventListener('input', OnInput, false);
      }

      function OnInput() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
      }
    </script>
  </body>
</html>
