<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atheer | Arabic Stemmer</title>
  </head>
  <body>
    <div class="wrapper">
      <img src="/atheer.png" alt="" />
      <div class="form_wrapper">
        <form action="/" method="get">
          <textarea
            type="text"
            name="q"
            id="text"
            placeholder="ضع نصـًّا للمعاينة ..."
          ><%= query %></textarea>
          <div id="btn_wrap">
            <input type="submit" value="Stem" name="type" class="button" />
            <input type="submit" value="Root" name="type" class="button" />
            <input type="submit" value="Stem+" name="type" class="button" />
          </div>
        </form>
      </div>
      <p id="output"><%= stemmed %></p>
    </div>
    <!-- Auto-Resizing TextArea -->
    <script>
      const tx = document.getElementsByTagName('textarea');
      for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute(
          'style',
          'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
        );
        tx[i].addEventListener('input', OnInput, false);
      }

      function OnInput() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
      }
    </script>
  </body>
</html>
